# Gateway
PORT=8002

# Inventory Service
INVENTORY_HOST=localhost
INVENTORY_PORT=8082

# Security Service
SECURITY_HOST=localhost
SECURITY_PORT=8890

# Payment Service
PAYMENT_HOST=localhost
PAYMENT_PORT=9002