# Gateway
PORT=8001

# Inventory Service (QA)
INVENTORY_HOST=localhost
INVENTORY_PORT=8081

# Security Service (QA)
SECURITY_HOST=localhost
SECURITY_PORT=8889

# Payment Service (QA)
PAYMENT_HOST=localhost
PAYMENT_PORT=9001